.slot-container {
  max-width: 100%;
  max-height: 100%;
  margin-top: 4.5%;
}
.slot-head {
  background-image: url("https://img.freepik.com/premium-vector/books-vector-seamless-pattern-vintage-hand-drawn-background-abstract-ornament-sketch-style-boho_534604-610.jpg");
  height: 30vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slot-head h1 {
  font-family: "BARABARAFINALRegular";
  font-size: 50px;
  font-weight: bolder;
  opacity: 200%;
}
.slot-content {
  padding: 1% 7% 2% 2.5%;
}
.input-wrapper {
  background-color: white;
  width: 30%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0px 10px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
}
.input-wrapper input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 10px;
}
input:focus {
  outline: none;
}
.input-wrapper i {
  color: royalblue;
}
.slot-content table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.slot-content table tr {
  border-bottom: 1px solid black;
}
.slot-content table tr th,
table tr td {
  padding: 5px;
  border-right: 1px solid black;
}
